body {
  background-color: white;
  font-family: sans-serif;
}

.posts {
  list-style-type: none;   /* no dots */
  margin-bottom: 2em;
}

.posts-date {
  color: grey;
  font-family: monospace;
}

.post code {
  border: 1px solid lightgrey;
  background-color: aliceblue;
  padding: 0 .2em;  /* larger boxes */
}

.site {
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  font-weight: bold;
  text-decoration: none;  /* no underline */
}

.title {
  display: inline-block;
  margin-bottom: 2em;
  color: black;
}

.title a {
  color: brown;
}

.title a:hover {
  color: black;
}

.header a.extra {
  color: grey;
  margin-left: 1em;
}

.header a.extra:hover {
  color: black;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: grey;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: navy;
}

