<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">

<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="/css/main.css">

</head>
<body>

<div class="site">
  <div class="header">
    <h1><a class="title" href="/">{{ site.name }}</a></h1>
    <h1><a class="extra" href="/about.html">about</a></h1>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
      Leonardo Pistone<br />
      opinions are my own
      </p>
    </div>
    <div class="contact">
      <p>
      <a href="https://twitter.com/lepistone">twitter.com/lepistone</a><br />
      <a href="https://facebook.com/lepistone">facebook.com/lepistone</a><br />
      </p>
    </div>
    <div class="contact">
      <p>
      <a href="https://github.com/lepistone">github.com/lepistone</a><br />
      <a href="https://launchpad.net/~lpistone">launchpad.net/~lpistone</a><br />
      <a href="https://bitbucket.org/lep">bitbucket.org/lep</a><br />
      </p>
    </div>
  </div>
</div>

</body>
</html>
